<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commande livrer</title>
</head>
<body>
    <% if (user) { %> 
        <p id="hidenid"><%= user.id %></p>
        <% } %>
    
    <h1>Bienvenue , Antonio!</h1>
   
    <a href="/index" id="index" >Accueil</a>
    <a href="/cmd_a_livrer" id="cmd_a_livrer" >Commande livrer</a>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
      const hidenid = document.getElementById('hidenid').innerHTML;
      const userId = hidenid ;
      document.getElementById("hidenid").style.display = "none"
      const userLinkhistory = document.getElementById('index');
      userLinkhistory.href = `/index?userId=${encodeURIComponent(userId)}`;
      const userLinkproduis = document.getElementById('cmd_a_livrer');
      userLinkproduis.href = `/cmd_a_livrer?userId=${encodeURIComponent(userId)}`;
    });
        </script>
</body>
</html>